*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color:aqua;
}
body{background-color: rgb(20, 20, 20);
  
}
nav{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    user-select: none;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 300;
    font-size: 1.5rem;
}
ul li{
    list-style: none;
 }
a{
    text-decoration: none;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: flex-end; 
}
.left-section{
    position: absolute;
    left: 4%;
}
.left-section h1{
   margin-top: 6rem;
   font-weight: 900;
   font-size: 45px;
   color: rgb(30, 210, 138);
   letter-spacing: 1px;
}
.left-section p{
    color: #ffffff;
    margin-top: 29px;
    letter-spacing: 1.2px;
    font-size: 1.3rem;
}
.right-section{
    z-index: -10;
}
.right-section img{
    bottom: 0;
    width: 480px;
    pointer-events:none;
    
}
.about h2{
    font-weight: 800;
}
.about p{
    font-size: 20px;
    gap: 2px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}
.band{
    background: #2b2b2b;
    width: 100vw;
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
    transform: rotate(-1.7deg);
    box-shadow: 0 88px 32px 0 rgba(35, 40, 112, 0.37);
    margin-top: -10px;
}
.band-text{
    font-size: 2rem;
    font-weight: 900;
}