@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@500&family=Roboto+Mono:ital,wght@0,700;1,600;1,700&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: white;
    --main-color: aqua;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 9rem 15% 1rem;
}

.header {
    position: fixed;
    margin-top: 0;
    left: 0;
    padding: 2rem 8%;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-weight: 700;
    color: var(--text-color);
    font-size: 2.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.nav-bar a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
}

.nav-bar a:hover,
.nav-bar a.active {
    color: var(--main-color);
}

#menu-icon:hover {
    color: var(--main-color);
}

#menu-icon {
    display: none;
    font-size: 3.5rem;
    color: var(--text-color);
}

span{
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    margin-left: 10px;
}

.left-section h1 {
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.left-section p {
    font-size: 1.9rem;
    font-weight: 400;
    margin-top: 16px;
    letter-spacing: 1px;
}

.typing {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--main-color);
}

.right-section {
    bottom: 0;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-right: 1%;
    padding-left: 0;
    margin-left: 0;
}

.about-left img {
    height: 67vh;
}

.page-band {
    padding-top: 5rem;
    height: 3rem;
    width: 100vw;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-band span {
    color: var(--main-color);
}

.about-right h2 {
    font-size: 2.8rem;
    
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;
}

.about-right p {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    line-height: normal;
}

.left-section p span {
    font-size: 1.9rem;
    color: var(--main-color);
}

.courses h3 {
    margin-bottom: 3rem;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    text-align: center;
    transition: .5s ease;
}

.course-container .course-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.course-container .course-box {
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    align-items: center;
    border-radius: 1.5rem;
    border: 0.2rem solid var(--bg-color);
}

.course-box i {
    font-size: 6rem;
    color: var(--main-color);
}

.course-box h3 {
    font-size: 2.4rem;
}

.course-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}

.card-image .card-img {
    height: 100;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.frames {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    border-radius: 25px;
    background-color: var(--second-bg-color);
    width: 320px;
    text-align: center;
}

.slide-content {
    margin: 0 40px;
}

.image-content {
    row-gap: 6px;
    position: relative;
}

.image-content,
.card-content {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 0px 10px;
}

.name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.description {
    font-size: 1.3rem;
    text-align: center;
}

.button,
.btn {
    color: var(--bg-color);
    border: none;
    font-size: 1.3rem;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--main-color);
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover,
.btn:hover {
    box-shadow: 0 0 .9rem var(--main-color);

}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 25px 25px 0 25px;
}

.slide-container {
    max-width: 1420px;
    width: 100%;
    padding: 40px;
}

swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
}

.contact{
    margin-bottom: 50px;
}
.contact form {
    max-width: 75rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    margin: .8rem 0;
    border-radius: .9rem;
    resize: none;
}

.contact form .input-box input {
    margin-right: 4px;
    width: 49%;
}

.contact form .btn a {
    text-decoration: none;
    color: var(--bg-color);
}

.contact form .btn {
    margin-top: 4rem;
    padding: 10px 10px;
    font-size: 15px;
}

.contact form h3 span {
    color: var(--main-color);
}

.contact form h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #3586ff;
    min-height: 100px;
    padding: 10px;
    margin-top: 2%;
}

footer .footer-logo a{
    color: var(--bg-color);
}
footer .footer-logo{
    margin-top: 1.9rem;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    margin-left: 1%;
}
footer .footer-logo p{
    font-size: 15px;
    color: var(--bg-color);
}
footer .social-icons {
    display: flex;
    font-size: 4rem;
}

footer .social-icons li {
    list-style: none;
    margin: 1.5rem 1rem;
    
}

footer .social-icons li a {
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: var(--bg-color);
    transition: 0.5s;
}

footer .social-icons li a:hover{
    transform: translateY(-9px);
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0px;
   width:100%;
    height: 100px;
    background: url(./img/wave.png);
   
    background-size: cover;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: .9;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
@keyframes animateWave {
    0%{
        background-position-x:1000px ;
    }
    100%{
        background-position-x: 0px;
    }
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.7;
    bottom: 0;
    animation: animateWave-2 4s linear infinite;
}
@keyframes animateWave-2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
footer .wave#wave3{
    z-index: 800;
    opacity: 0.4;
    bottom: 100px;
    animation: animateWave-3 6s linear infinite;
}
@keyframes animateWave-3 {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
footer .wave#wave4{
    z-index: 900;
    opacity: 0.5;
    bottom: 100px;
    animation: animateWave-4 4s linear infinite;
}
@keyframes animateWave-4 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    header{
        padding: 2rem 3%;
    }
    .home{
        padding-left: 0rem;
        padding-right: 0;
    }
    footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 770px){
    #menu-icon{
        display: block;
    }
    .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1 solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
        display: none;
    }
    .nav-bar.active{
        display: block;
    }
    .nav-bar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0 ;
    }

    footer .social-icons{
        font-size: 3rem;
    }
    footer .footer-logo{
        position: absolute;
        margin-top: 0;
        padding-left: 0%;
    }
    footer .footer-logo a{
        font-size: 2rem;
    }
    footer .footer-logo p{
        font-size: 1.5rem;
    }
    .about img{
        width: 45vw;
        height: 40vh;
        border-radius: 50%;
    }
    .about{
        padding: 5rem 2.4rem;
        flex-direction: column-reverse;
    }
    .about h2{
        padding: 2rem 0rem;
        flex-direction: column-reverse;
    }
}
@media (max-width: 480px){
    .home .left-section h1{
        font-size: 2.4rem;
    }
    .home .left-section .typing{
        font-size: 2rem;
    }
    .home .left-section p{
        font-size: 15px;
    }
    .right-section img{
        width: 28vw;
        border-radius: 30%;
    }
    .about p{
        font-size: 1.8rem;
    }
    .about h2{
        font-size: 2.3rem;
    }
    .slide-container {
        max-width: 1500px;
        width: 143%;
    }
}
@media (max-width: 563px){
    .right-section img{
        width: 30vw;
    }
    .home .left-section h1{
        font-size: 2.5rem;
    }
    .home .typing{
        font-size: 1.9rem;
    }
    .home p{
        font-size: 1.6rem;
        letter-spacing: 0;
    }
    footer{
        flex-direction: column;
    }
}
@media (max-width: 637px){
    .course-box{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
        flex-direction: column;
        margin-top: 5%;
    }
    footer .social-icons{
        font-size: 20px;
        margin-left: 5px;
    }
}
@media (max-width: 991px){
    .page-band{
        font-size: 2.7rem;
        margin-bottom: 1rem;
    }
    body{
        margin: 0;
        padding: 0;
    }
    header{
        padding: 2rem 3%;
    }
    .about h2{
        font-size: 2rem;
        text-align: center;
    }
    .about p{
        font-size: 1.5rem;
    }

}